body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.data{
    background-color: #1892C3;
    border-radius: 3vh;
}

.kundeoplysninger {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 7vh;
    left: 25%;
}

.bilen {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 7.5vh;
    left: 50%;
}

.aftale {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 7.5vh;
    left: 75%;
}

.gem {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 55vh;
    left: 80%;
}

#måned-valg{
    width: 30vh;
}