.Dataregistrering {
    margin-top: 50px;
    text-align: center;
}

.Kundeoplysninger {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    left: 20%;
}

.Bilen {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    left: 42%;
}

.Aftale {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    left: 65%;
}