body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.forretning{
    background-color: #1892C3;
    border-radius: 3vh;
}

.intjeningKvartal {
    margin-left: 20vw;
    margin-top: 7vh;
    font-size: 18px;
    text-align: left;
}

.overordnet {
    display: grid;
    grid-column-gap: -2vw;
    width: 30vw;
}

table {
    display: grid;
    border-collapse: collapse;
    width: 70%;
}

.intjeningÅr {
    margin-left: 20vw;
    margin-top: 7vh;
    font-size: 18px;
    text-align: left;
}


table th, table td {
    padding: 2vh 2vw;
    border: 1px solid #ddd;
}
table th {
    background-color: #f2f2f2;
}