body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-y: auto;
    width: 98.1%;
}

.forretning{
    background-color: #1892C3;
    border-radius: 3vh;
}

.intjeningKvartal {
    margin-top: 7vh;
    font-size: 18px;
    text-align: left;

}

.overordnet {
    display: block;
    width: 30vw;
    margin:0 auto;
}

table {
    display: table;
    border-collapse: collapse;
    width: 100%;
    box-shadow: 8px 8px 10px black;
}

.intjeningÅr {
    margin-top: 7vh;
    font-size: 18px;
    text-align: left;
    padding-bottom: 10vh;
}

table th, table td {
    padding: 2vh 2vw;
    border: 1px solid black;
}
table th {
    background-color: #f2f2f2;
}