body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-y: auto;
    width: 98.1%;
}

.forretning {
    background-color: #1892C3;
    border-radius: 3vh;
}

.leasingInfo {
    margin-left: 43vw;
    margin-top: 16vh;
}