header{
    height: 10vh;
    width: 100%;
    padding: 2vh;
    box-shadow: 1vh 1vh 3vh black;
}

.header-container{
    display: grid;

}

.overskrift{
    display: grid;
    justify-content: center;
    margin-top: -2vh;
}

.tilbage-knap{
    width: 6vw;
    height: 6vh;
   position: absolute;
    left: 12%;
    top: 4%;
}

.logo{
    position: absolute;
    left: 75%;
    top: 2%;
}