.forretning, .rapport,.data{
    text-decoration: none;
    color: black;
    left: .5vh;
    position: absolute;

}
.data{
    top: 15vh;
    font-size: 5vh;
    padding-left: 3vh;
    padding-right: 1.8vh;
}
.data:hover, .rapport:hover, .forretning:hover{
    transform: scale(1.01);
    background-color: #71a6bb;
    border-radius: 3vh;

}
.forretning{
    top: 24vh;
    font-size: 5vh;
    padding-left: 3vh;
    padding-right: 13.4vh;
}
.rapport{
    top: 33vh;
    font-size: 5vh;
    padding-left: 3vh;
    padding-right: 18vh;

}

.menu{
    margin-top: 15vh;
    background-color: lightgray;
    width: 15vw;
    padding: 20px;
    position: fixed;
    top: 15vh;
    left: 1vh;
    height: 45%;
    border: 2px solid;
}
