body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: auto;
    overflow-x: hidden;
}

.input-box-1-1,.input-box-1-2 {
    display: grid;
    margin-top: 3vh;
    width: 100%;
}

/* Til input feltet med stelnummer */
.column1{
    display: grid;
    justify-content: left;
    margin-left: 20vw;
    margin-top: 5vh;
    width: 20vw;
}
/* til skade og priser input felter */
.column2{
    display: grid;
    justify-content: left;
    margin-top: 20vh;
    margin-left: 20vw;
    width: 30vw;
    grid-row-gap: 3vh;
}

#skade-2-1-pris,#skade-2-2-pris,#skade-2-3-pris,#skade-2-4-pris,#skade-2-5-pris,#skade-2-6-pris{
    width: 10vw;
}

.overskrift-skader{
    position: absolute;
    left: 20vw;
    top: 45vh;
}

.overskrift-pris{
  position: absolute;
    left: 34vw;
    top: 45vh;
}

.rapportnummer{
    top: 19vh;
    left: 65vw;
    position: absolute;
}

.samlet-pris{
    top: 45vh;
    left: 65vw;
    position: absolute;
}

.gem-knap{
    position: absolute;
    top: 89vh;
    left: 50vw;
    height: 5vh;
    width: 5vw;
}

.samlet-pris{
    display: grid;
    justify-content: right;
}