body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
}

.input-box-1-1,.input-box-1-2 {
    display: grid;
    grid-row-gap: 1vh;
    margin-top: 3vh;
    width: 100%;
}

.column1{
    display: grid;
    justify-content: left;
    margin-left: 25%;
    margin-top: 2vh;
    width: 20%;
}

.column2{
    display: grid;
    justify-content: left;
    margin-left: 25%;
    width: 30%;
    grid-row-gap: 3vh;
}

#skade-2-1-pris,#skade-2-2-pris,#skade-2-3-pris,#skade-2-4-pris,#skade-2-5-pris,#skade-2-6-pris{
    width: 25%;
}

.overskrift-skader{
    transform: translate(25%, 170%);
}

.overskrift-pris{
  margin-left: 39%;
}

.rapportnummer{
    margin-left: 65%;
    margin-top: -18%;
}

.samlet-pris{
    margin-left: 65%;
    margin-top: -22%;
}