<!DOCTYPE html>
<html lang="en">.
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dataregistrering</title>
    <link rel="stylesheet" href="..\static\css\dataregistrering.css">
    <link rel="stylesheet" href="..\static\css\header.css">
    <link rel="stylesheet" href="..\static\css\menu.css">
</head>
<body>
<header>
    <div class="header-container">
        <div class="overskrift">
            <h1>Dataregistrering</h1>
        </div>
        <button class="tilbage-knap" onclick="tilbage()">Tilbage</button>
        <script>
            function tilbage(){  //DETTE ER TAGET FRA CHATGPT
                history.back();
            }
        </script>
        <a href="dataregistrering.html">
            <img class="logo" src="/static/images/BilAboLogo.png" th:src="@{/static/images/BilAboLogo.png}" alt="Logo">
        </a>
    </div>
</header>

    <aside class="menu">
        <h2>Menu</h2>
        <a href="dataregistrering.html" class="data">Dataregistrering</a>
        <a href="forretning.html" class="forretning">Forretning</a>
        <a href="rapport.html" class="rapport">Rapport</a>
    </aside>

    <form action="/gemdata" method="post">
        <div class="kundeoplysninger">
            <h2> Kunde oplysninger:</h2>
            <div class="fornavn">
                <h3>Fornavn:</h3><input type="text" placeholder="Indtast fornavn" required>
            </div>
            <div class="efternavn">
                <h3>Efternavn:</h3><input type="text" placeholder="Indtast efternavn" required>
            </div>
            <div class="kørekortNummer">
                <h3> Kørekort nummer:</h3><input type="text" placeholder="Indtast kørekort nummer" required>
            </div>
        </div>

        <div class="bilen">
            <div class="bilensoplysninger">
                <h2> Bilens oplysninger:</h2>
            </div>
            <div class="maerke">
                <h3>  Maerke:</h3>
                <select>
                    <option value="Citröen">Citröen</option>
                    <option value="Opel">Opel</option>
                    <option value="DS">DS</option>
                    <option value="Peugot">Peugot</option>
                    <option value="FIAT">FIAT</option>
                </select>
            </div>
            <div class="model">
                <h3>  Model: </h3>
                <input type="text" placeholder="Indtast bilmodel"required>
            </div>
            <div class="aargang">
                <h3>  Aargang:</h3>
                <input type="text" placeholder="Indtast årgang"required>
            </div>
        </div>
        <div class="aftale">
            <div class="leasingaftale">
                <h2> Leasingaftale:</h2>
            </div>
            <div class="tid">
                <h3> Tid:</h3>
                <select>
                    <option>Limited (5 mdr)</option>
                    <option>Unlimited (3 mdr - 36 mdr)</option>
                </select>
            </div>
            <div class="unlimited-indskriv">
                <h3>Unlimited Leasing</h3>
                <input type="number" id="måned-valg" placeholder="Angiv leasing periode" min="3" max="36">
            </div>
        </div>
        <div class="gem">
            <button type="submit">Gem</button>
        </div>
    </form>
</body>
</html>