<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\header.css">
    <link rel="stylesheet" th:href="@{/css/forretning.css}" href="../static/css/forretning.css">
    <link rel="stylesheet" th:href="@{/css/menu.css}" href="../static/css/menu.css">
    <title>Forretning</title>


</head>
<header>
    <div class="header-container">
        <div class="overskrift">
            <h1>Dataregistrering</h1>
        </div>
        <button class="tilbage-knap" onclick="tilbage()">Tilbage</button>
        <script>
            function tilbage(){  //DETTE ER TAGET FRA CHATGPT
                history.back();
            }
        </script>
        <a href="dataregistrering.html">
            <img class="logo" src="/static/images/BilAboLogo.png" th:src="@{/static/images/BilAboLogo.png}" alt="Logo">
        </a>
    </div>
</header>
<body>
<header>

    <a class="bilabo">BILABO</a>
    <button class="tilbage" onclick="redirectToLogin()">Tilbage</button>
    <script>
        function redirectToLogin() {
            window.location.href = "login.html";
        } // Den linje kode, window.location.href = "login.html";, anvendes i JavaScript til at ændre det aktuelle browservindues URL til en anden URL,
        // i dette tilfælde "login.html".
    </script>
</header>
<aside class="menu">
    <h2>Menu</h2>
    <a href="dataregistrering.html" class="data">Dataregistrering</a>
    <a href="forretning.html" class="forretning">Forretning</a>
    <a href="rapport.html" class="rapport">Rapport</a>
</aside>
<div class="overordnet">
    <div class="intjeningKvartal">
        <h1>Indtjening pr. kvartal</h1>
        <table>
            <thead>
            <tr>
                <th>Dato</th>
                <th>Antal biler</th>
                <th>Antal udlejet biler</th>
                <th>Samlagt penge pr. kvartal</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1-3-2023</td>
                <td>500</td>
                <td>5000 DKK</td>
                <td>500</td>
            </tr>
            <tr>
                <td>1-6-2023</td>
                <td>2</td>
                <td>6000 DKK</td>
                <td>500</td>
            </tr>
            <tr>
                <td>1-9-2023</td>
                <td>3</td>
                <td>7000 DKK</td>
                <td>500</td>
            </tr>
            <tr>
                <td>1-12-2023</td>
                <td>500</td>
                <td>500</td>
                <td>500</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="intjeningÅr">
        <h1>Indtjening pr. år</h1>
        <table>
            <thead>
            <tr>
                <th>Antal biler</th>
                <th>Antal udlejet biler</th>
                <th>Samlagt penge pr. kvartal</th>
                <th>Samlagt penge pr. år</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1-1-2020</td>
                <td>50</td>
                <td>5000 DKK</td>
                <td>500</td>
            </tr>
            <tr>
                <td>1-1-2021</td>
                <td>2</td>
                <td>6000 DKK</td>
                <td>500</td>
            </tr>
            <tr>
                <td>1-1-2022</td>
                <td>3</td>
                <td>7000 DKK</td>
                <td>500</td>
            </tr>
            <tr>
                <td>1-1-2023</td>
                <td>500</td>
                <td>500</td>
                <td>500</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<main>
</main>
</body>
</html>
