<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/css/forretning.css">
<head>
    <meta charset="UTF-8">
    <title>Forretning</title>
</head>
<header>

    <a class="bilabo">BILABO</a>
    <button class="tilbage">Tilbage</button>
</header>
<body>
<aside class="menu">
    <h2>Emner</h2>
    <a href="dataregistrering.html" class="data">Dataregistrering</a>
    <a href="forretning.html" class="forretning">Forretning</a>
    <a href="report.html" class="report">Report</a>
</aside>
<table class="pengebil">
    <thead>
    <tr>
        <th>Bil</th>
        <th>Ankomsttidspunkt</th>
        <th>Indtjente penge</th>
    </tr>
    </thead>
    <tbody>
    <!-- Her kan du tilføje hver bil som en <tr> (table row) -->
    <tr>
        <td>Bil 1</td>
        <td>14. maj 2024, 09:00</td>
        <td>5000 kr</td>
    </tr>
    <tr>
        <td>Bil 2</td>
        <td>15. maj 2024, 10:30</td>
        <td>7000 kr</td>
    </tr>
    <!-- Du kan tilføje flere rækker efter behov -->
    </tbody>
</table>

<p class="samlet">Samlet beløb: 12000kr</p>

</body>
</html>