<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/css/forretning.css">
<head>
    <meta charset="UTF-8">
    <title>Forretning</title>
</head>
<header>

    <a class="bilabo">BILABO</a>
    <button class="tilbage">Tilbage</button>
</header>
<body>
<aside class="menu">
    <h2>Emner</h2>
    <a href="dataregistrering.html" class="data">Dataregistrering</a>
    <a href="forretning.html" class="forretning">Forretning</a>
    <a href="report.html" class="report">Report</a>
</aside>


</body>
</html>