<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/header.css}" href="..\static\css\header.css">
    <link rel="stylesheet" th:href="@{/css/forside.css}" href="../static/css/forside.css">
    <link rel="stylesheet" th:href="@{/css/menu.css}" href="../static/css/menu.css">
    <title>Forside</title>
</head>
<header>
    <div class="header-container">
        <div class="overskrift">
            <h1>Velkommen til BilAbonnoment.dk!</h1>
        </div>
        <button class="tilbage-knap" onclick="tilbage()">Tilbage</button>
        <script>
            function tilbage(){  //DETTE ER TAGET FRA CHATGPT
                history.back();
            }
        </script>
        <a href="dataregistrering.html">
            <img class="logo" src="/static/images/BilAboLogo.png" th:src="@{/images/BilAboLogo.png}" alt="Logo">
        </a>
    </div>
</header>
<body>
    <aside class="menu">
        <h2>Menu</h2>
        <a href="/dataregistrering" class="data">Dataregistrering</a>
        <a href="/forretning" class="forretning">Forretning</a>
        <a href="/rapport" class="rapport">Rapport</a>
    </aside>

</body>
</html>