<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=yes">
    <link rel="stylesheet" th:href="@{/css/login.css}" href="../static/css/login.css">
    <title>Login</title>
</head>
<body>
    <div class="container1">
        <div class="login-container">
            <h3><label for="login-type" id="login-type-tekst">Vælg en logintype</label></h3>
            <select id="login-type">
                <option value="Medarbejder">Medarbejder</option>
                <option value="Admin">Admin</option>
                <option value="FDM">FDM</option>
            </select>
            <div class="brugernavn-indtast">
                <h3><label for="brugernavn">Brugernavn</label></h3>
                <input type="text" id="brugernavn" name="brugernavn">
            </div>
            <div class="adgangskode-indtast">
                <h3><label for="adgangskode">Adgangskode</label></h3>
                <input type="password" id="adgangskode" name="adgangskode">
            </div>
            <a href="tilstandsrapport.html">
                <button class="login-knap">Login</button>
            </a>
        </div>
    </div>
</body>
</html>