<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/login.css}" href="../static/css/login.css">
    <title>Login BilAbo Intranet</title>
</head>
<body>
<div class="main-container">
    <div class="sub-container">
        <label for="login-type">Vælg en logintype</label>
        <div class="custom-select">
            <select id="login-type">
                <option value="Admin">Admin</option>
                <option value="Medarbejder">Medarbejder</option>
                <option value="FDM">FDM</option>
            </select>
        </div>
    </div>
    <div class="login-brugernavn">
        <label for="username">Brugernavn</label>
        <input type="text" id="username" name="username">
    </div>
    <div class="login-password">
        <label for="password">Adgangskode</label>
        <input type="password" id="password" name="password">
    </div>
    <button class="login-button">Login</button>
</div>
</body>
</html>
