<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rapport</title>
    <link rel="stylesheet" href="..\static\css\header.css">
    <link rel="stylesheet" href="..\static\css\rapport.css">
    <link rel="stylesheet" href="..\static\css\menu.css">
</head>
<header>
    <div class="header-container">
        <div class="overskrift">
            <h1>Skadesrapport</h1>
        </div>
        <button class="tilbage-knap" onclick="tilbage()">Tilbage</button>
        <script>
            function tilbage(){  //DETTE ER TAGET FRA CHATGPT
                history.back();
            }
        </script>
        <a href="dataregistrering.html">
            <img class="logo" src="/static/images/BilAboLogo.png" th:src="@{/static/images/BilAboLogo.png}" alt="Logo">
        </a>
    </div>
</header>
<body>
<aside class="menu">
    <h2>Menu</h2>
    <a href="dataregistrering.html" class="data">Dataregistrering</a>
    <a href="forretning.html" class="forretning">Forretning</a>
    <a href="rapport.html" class="rapport">Rapport</a>
</aside>


</body>
</html>