<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<link rel="stylesheet" href="../static/css/rapport.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tilstandsrapport</title>
    <link rel="stylesheet" th:href="@{/css/rapport.css}" href="..\static\css\rapport.css">
    <link rel="stylesheet" th:href="@{/css/header.css}" href="..\static\css\header.css">
    <link rel="stylesheet" th:href="@{/css/menu.css}" href="..\static\css\menu.css">
</head>
<header>
    <div class="header-container">
        <div class="overskrift">
            <h1>Tilstandsrapport</h1>
        </div>
        <button class="tilbage-knap" onclick="tilbage()">Tilbage</button>
        <script>
            function tilbage(){  //DETTE ER TAGET FRA CHATGPT
                history.back();
            }
        </script>
        <a th:href="@{/templates/forside.html}" href="dataregistrering.html">
            <img class="logo" src="/static/images/BilAboLogo.png" th:src="@{/images/BilAboLogo.png}" alt="Logo">
        </a>
    </div>
</header>
<body>
<aside class="menu">
    <h2>Menu</h2>
    <a href="dataregistrering" class="data">Dataregistrering</a>
    <a href="forretning" class="forretning">Forretning</a>
    <a href="rapport" class="rapport">Rapport</a>
</aside>
<div class="rapport-CRUD-conntainer">
    <div class="rapport-CRUD">
        <button class="tilføjTR" onclick="redirectToTilfojTR()">Tilføj tilstandsraport</button>
            <script>
                function redirectToTilfojTR() {
                    window.location.href = "tilfojTR";
                }
            </script>
        <button class="laesTR" onclick="redirectTolaesTR()">Læs Tilstandsraport</button>
            <script>
                function redirectTolaesTR() {
                    window.location.href = "leasTR";
                }
            </script>
        <button class="redigerTR" onclick="redirectToRediger()">Rediger tilstandsraport</button>
            <script>
                function redirectToRediger() {
                    window.location.href = "redigerTR";
                }
            </script>
        <button class="fjernTR" onclick="redirectToFjernTR()">Fjern tilstandsraport</button>
            <script>
                function redirectToFjernTR() {
                    window.location.href = "fjernTR";
                }
            </script>

    </div>

</div>
<div class="rapport-table-container">
    <table class="rapport-table">
        <thead>
        <tr>
            <th>Rapportnummer</th>
            <th>Pris</th>
            <th>Stelnummer</th>
            <th>Skader og Mangler</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="rapport : ${rapporter}">
            <td th:text="${rapport.rapportNummer}"></td>
            <td th:text="${rapport.pris}"></td>
            <td th:text="${rapport.stelnummer}"></td>
            <td th:text="${rapport.skadeOgMangler}"></td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>