<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="../static/css/raport.css">
<head>
    <meta charset="UTF-8">
    <title>Forretning</title>
</head>
<header>

    <a class="bilabo">BILABO</a>
    <button class="tilbage" onclick="redirectToLogin()">Tilbage</button>
    <script>
        function redirectToLogin() {
            window.location.href = "login.html";
        } // Den linje kode, window.location.href = "login.html";, anvendes i JavaScript til at ændre det aktuelle browservindues URL til en anden URL,
        // i dette tilfælde "login.html".
    </script>
</header>
<body>
<aside class="menu">
    <h2>Emner</h2>
    <a href="dataregistrering.html" class="data">Dataregistrering</a>
    <a href="forretning.html" class="forretning">Forretning</a>
    <a href="rapport.html" class="report">Report</a>
</aside>

<button class="tilføjTR" onclick="redirectToTilfojTR()">Tilføj tilstandsraport</button>
<script>
    function redirectToTilfojTR() {
        window.location.href = "tilstandsraport/tilfojTR.html";
    }
</script>
<button class="redigerTR" onclick="redirectToRediger()">Rediger tilstandsraport</button>
<script>
    function redirectToRediger() {
        window.location.href = "tilstandsraport/redigerTR.html";
    }
</script>
<button class="fjernTR" onclick="redirectToFjernTR()">Fjern tilstandsraport</button>
<script>
    function redirectToFjernTR() {
        window.location.href = "tilstandsraport/fjernTR.html";
    }
</script>
<button class="laesTR" onclick="redirectTolaesTR()">Læs Tilstandsraport</button>
<script>
    function redirectTolaesTR() {
        window.location.href = "tilstandsraport/leasTR.html";
    }
</script>

</body>
</html>