<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<link rel="stylesheet" th:href="@{/css/tilfojTR.css}" href="../static/css/tilfojTR.css">
<link rel="stylesheet" th:href="@{/css/header.css}" href="../static/header.css">
<head>
    <meta charset="UTF-8">
    <title>Tilføj Tilstandsrapport</title>
</head>
<header>
    <div class="header-container">
        <div class="overskrift">
            <h1>Tilføj Tilstandsrapport</h1>
        </div>
        <!--Bruger event attributten onclick så man kan gå tilbage til forrige side. Bruger JavaScript til at definere onclick -->

        <button class="tilbage-knap" onclick="tilbage()">Tilbage</button>
        <script>
            function tilbage() {
                history.back();
            }
        </script>
        <a th:href="@{/templates/forside.html}" href="forside.html">
            <img class="logo" src="/static/images/BilAboLogo.png" th:src="@{/images/BilAboLogo.png}" alt="Logo">
        </a>
    </div>
</header>
<body>

    <div class="overskrifter">
        <h2 class="overskrift-skader">Skade</h2>
        <h2 class="overskrift-pris">Pris</h2>
    </div>

<!--Her fra kommer oplysinger man skal skrive ind for at tilføje en tilstandsrapport -->
    <form action="/tilstandsrapport/gem" method="post">
        <div class="container1">
            <div class="column1">
                <h2 class="overskrift-1">Stelnummer</h2>
                <div class="input-box-1-1">
                    <label for="stelnummer"></label>
                    <input type="text" id="stelnummer" name="stelnummer" placeholder="Ex. 2859943" required>
                </div>
            </div>
        </div>
    <div class="container2">
        <div class="column2">
            <div class="input-box-2-1">
                <label for="skade-2-1"></label>
                <input type="text" id="skade-2-1" name="skade1" placeholder="Ex. 'Defekt motor'">
                <label for="skadePris1"></label>
                <input type="number" id="skadePris1" name="skadePris1" placeholder="Ex. 516 kr." value="0">
            </div>
            <div class="input-box-2-2">
                <label for="skade-2-2"></label>
                <input type="text" id="skade-2-2" name="skade2">
                <label for="skadePris2"></label>
                <input type="number" id="skadePris2" name="skadePris2" value="0">
            </div>
            <div class="input-box-2-3">
                <label for="skade-2-3"></label>
                <input type="text" id="skade-2-3" name="skade3">
                <label for="skadePris3"></label>
                <input type="number" id="skadePris3" name="skadePris3" value="0">
            </div>
            <div class="input-box-2-4">
                <label for="skade-2-4"></label>
                <input type="text" id="skade-2-4" name="skade4">
                <label for="skadePris4"></label>
                <input type="number" id="skadePris4" name="skadePris4" value="0">
            </div>
            <div class="input-box-2-5">
                <label for="skade-2-5"></label>
                <input type="text" id="skade-2-5" name="skade5">
                <label for="skadePris5"></label>
                <input type="number" id="skadePris5" name="skadePris5" value="0">
            </div>
            <div class="input-box-2-6">
                <label for="skade-2-6"></label>
                <input type="text" id="skade-2-6" name="skade6">
                <label for="skadePris6"></label>
                <input type="number" id="skadePris6" name="skadePris6" value="0">
            </div>
            <div class="skadeOgMangler">
                <label for="skade-2-6"></label>
                <textarea id="skadeOgMangler" name="skadeOgMangler" placeholder="Denne skadebeskrivelse bliver gemt" rows="6" cols="50"></textarea>
            </div>
        </div>
    </div>
        <button class="gem-knap">Gem</button>
        </form>
    <!-- Slutter her med at skrive oplysninger-->
    <div class="samlet-pris">
        <h2>Samlet Pris:</h2>
        <!-- Til at hente oplysninger om samlet pris -->
        <h2><span id="samlet-pris-penge" th:text="${samletPris}">0</span> kr.</h2>
    </div>
    <div class="rapportnummer">
        <h2>Rapportnummer</h2>
    </div>

</body>
</html>