<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<link rel="stylesheet" th:href="@{/css/tilfojTR.css}" href="../../static/css/tilfojTR.css">
<link rel="stylesheet" th:href="@{/css/header.css}" href="../../static/header.css">
<head>
    <meta charset="UTF-8">
    <title>Tilføj Tilstandsrapport</title>
</head>
<header>
    <div class="header-container">
        <div class="overskrift">
            <h1>Tilføj Tilstandsrapport</h1>
        </div>
        <button class="tilbage-knap" onclick="tilbage()">Tilbage</button>
        <script>
            function tilbage() {
                history.back();
            }
        </script>
        <a th:href="@{/templates/forside.html}" href="forside.html">
            <img class="logo" src="/static/images/BilAboLogo.png" th:src="@{/images/BilAboLogo.png}" alt="Logo">
        </a>
    </div>
</header>
<body>
    <div class="container1">
        <div class="column1">
            <h2 class="overskrift-1">Stelnummer</h2>
            <div class="input-box-1-1">
                <label for="vin"></label>
                <input type="text" id="vin" name="vin" placeholder="Ex. 2859943" required>
            </div>
        </div>
    </div>
    <h2 class="overskrift-skader">Skade</h2>
    <h2 class="overskrift-pris">Pris</h2>
    <div class="container2">
        <div class="column2">
            <div class="input-box-2-1">
                <label for="skade-2-1"></label>
                <input type="text" id="skade-2-1" name="skade1" placeholder="Ex. 'Defekt motor'">
                <label for="skade-2-1-pris"></label>
                <input type="number" id="skade-2-1-pris" name="skade-1-pris" placeholder="Ex. 516 kr.">
            </div>
            <div class="input-box-2-2">
                <label for="skade-2-2"></label>
                <input type="text" id="skade-2-2" name="skade2">
                <label for="skade-2-2-pris"></label>
                <input type="number" id="skade-2-2-pris" name="skade-2-pris">
            </div>
            <div class="input-box-2-3">
                <label for="skade-2-3"></label>
                <input type="text" id="skade-2-3" name="skade3">
                <label for="skade-2-3-pris"></label>
                <input type="number" id="skade-2-3-pris" name="skade-3-pris">
            </div>
            <div class="input-box-2-4">
                <label for="skade-2-4"></label>
                <input type="text" id="skade-2-4" name="skade4">
                <label for="skade-2-4-pris"></label>
                <input type="number" id="skade-2-4-pris" name="skade-4-pris">
            </div>
            <div class="input-box-2-5">
                <label for="skade-2-5"></label>
                <input type="text" id="skade-2-5" name="skade5">
                <label for="skade-2-5-pris"></label>
                <input type="number" id="skade-2-5-pris" name="skade-5-pris">
            </div>
            <div class="input-box-2-6">
                <label for="skade-2-6"></label>
                <input type="text" id="skade-2-6" name="skade6">
                <label for="skade-2-6-pris"></label>
                <input type="number" id="skade-2-6-pris" name="skade-6-pris">
            </div>
        </div>
    </div>
    <div class="samlet-pris">
        <h2>Samlet Pris</h2>
    </div>
    <div class="rapportnummer">
        <h2>Rapportnummer</h2>
    </div>
<button class="gem-knap">Gem</button>
</body>
</html>