<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/tilstandsrapport.css}" href="../static/css/tilstandsrapport.css">
    <title>Tilstandsrapport</title>
</head>
<body>
    <section class="sektion-knapper">
        <form>
            <label for="km-antal">Bilens køre distance</label>
            <input type="number" id="km-antal" name="km-antal" min="0" placeholder="Indtast km-antal">
        </form>
    </section>
    <!-- <input type="submit" value="Gem"> !!!!GEM KNAP TIL SIDST. MÅSKE I NEDERSTE HØJRE HJØRNE?!!!-->
 </body>
 </html>