<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<link rel="stylesheet" href="../../static/css/rapport.css">
<link rel="stylesheet" th:href="@{/css/menu.css}" href="../../static/css/menu.css">
<head>
    <meta charset="UTF-8">
    <title>tilføj raport</title>
</head>
<header>

    <a class="bilabo">BILABO</a>
    <button class="tilbage" onclick="redirectToLogin()">Tilbage</button>
    <script>
        function redirectToLogin() {
            window.location.href = "login.html";
        } // Den linje kode, window.location.href = "login.html";, anvendes i JavaScript til at ændre det aktuelle browservindues URL til en anden URL,
        // i dette tilfælde "login.html".
    </script>
</header>
<body>
<main class="fjernViaStelNR">
    <div class="container1">
        <div class="column">
            <h2>Stelnummer, pris og rapportnummer</h2>
            <div class="input-box">
                <label for="vin">Stelnummer:</label>
                <input type="text" id="vin" name="vin" required>
            </div>
            <div class="input-box">
                <label for="pris">Pris:</label>
                <input type="text" id="pris" name="pris" required>
            </div>
            <div class="input-box">
                <label for="rapportnummer">Vælg rapportnummer:</label>
                <select id="rapportnummer" name="rapportnummer">
                    <option value="rapport1">Rapport 1</option>
                    <option value="rapport2">Rapport 2</option>
                    <option value="rapport3">Rapport 3</option>
                </select>
            </div>
        </div>
    </div>

    <div class="container2">
        <div class="column">
            <h2>Fejl og mangler</h2>
            <div class="input-box">
                <label for="skade1">Skade 1:</label>
                <input type="text" id="skade1" name="skade1" required>
                <input type="checkbox">
            </div>
            <div class="input-box">
                <label for="skade2">Skade 2:</label>
                <input type="text" id="skade2" name="skade1" required>
                <input type="checkbox">
            </div>
            <div class="input-box">
                <label for="skade3">Skade 3:</label>
                <input type="text" id="skade3" name="skade2" required>
                <input type="checkbox">
            </div>
            <button type="button" >Bekræft</button>
        </div>
    </div>
    <div class="container3">
        <div class="column">
            <h2>Pris per skade</h2>
            <div class="input-box">
                <label for="skade1">Skade 1:</label>
                <input type="text" id="skade6" name="skade1" required>
                <input type="checkbox">
            </div>
            <div class="input-box">
                <label for="skade2">Skade 2:</label>
                <input type="text" id="skade5" name="skade1" required>
                <input type="checkbox">
            </div>
            <div class="input-box">
                <label for="skade3">Skade 3:</label>
                <input type="text" id="skade4" name="skade2" required>
                <input type="checkbox">
            </div>
            <button type="button" >Bekræft</button>
        </div>
    </div>

</main>

<aside class="menu">
    <h2>Emner</h2>
    <a href="dataregistrering.html" class="data">Dataregistrering</a>
    <a href="forretning.html" class="forretning">Forretning</a>
    <a href="rapport.html" class="rappport">Report</a>
</aside>



</body>
</html>